@charset "UTF-8";
/* MINDsLab. NBR. 20210604 */

/* 공통 CSS */
@import url("reset.css"); 
@import url("font.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");


/* -------------------- layout -------------------- */
body {overflow:hidden;}
#wrap {overflow:hidden; width:100%; min-width:1280px; height:100%; min-height:760px; background:#000;}
#header {position:relative; top:0; left:0; width:100%; min-width:1280px; height:72px; border-bottom:1px solid #1d2026; box-sizing:border-box; background:#151b27; z-index:5000;}
#container {display:table; table-layout:fixed; position:relative; width:100%; height:calc(100% - 72px); box-sizing:border-box;}
#container .toolMenuBar {display:table-cell; width:52px; height:100%; background:#151b27; vertical-align:top;}
#container #contents {display:table-cell; position:relative; width:calc(100% - 52px); vertical-align:top;}


/* -------------------- common -------------------- */
/* scroll bar */
::-webkit-scrollbar {width:6px; height:6px; border-radius:3px;}  /* 스크롤바의 width */
::-webkit-scrollbar-track {background:transparent;}  /* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {border-radius:3px; background:#aeb0b3;}  /* 스크롤바 색 */
::-webkit-scrollbar-button {display:none;}  /* 위 아래 버튼 (버튼 없애기를 함) */
/* scroll bar - Firefox */
.history_list,
.class_list,
.textarea,
.aside .tabWrap .tab_cont > ul,
.frame_list {scrollbar-width:thin; scrollbar-color:#aeb0b3;}

/* float */
.fl {float:left;}
.fr {float:right;}

/* hide */
.hide {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; margin:0; padding:0; text-indent:-9999px; line-height:0; white-space:nowrap;}

/* input[type="text"] */
.ipt_txt {width:100%; border:1px solid #3b3d45; border-radius:4px; box-sizing:border-box; background:#232831; color:#adafc1; font-size:14px; letter-spacing:-0.14px;}
.ipt_txt::placeholder {color:#6f7077; font-size:14px;}


/* font point */
.ft_point_blue {color:#3340a8;}

/* expand button */
.btn_expand {display:block; position:absolute; width:24px; height:50px; border:2px solid #1e2229; border-radius:5px 0 0 5px; box-sizing:border-box; background:#151b27 url('../images/builder/ico_expd_left.svg') 50% 50% no-repeat;}
.on .btn_expand {background:#151b27 url('../images/builder/ico_expd_right.svg') 50% 50% no-repeat;}

/* paging button */
.btn_paging,
.btn_scroll {width:32px; height:32px; border:1px solid #1e2229; border-radius:4px; box-sizing:border-box;}
.btn_paging.btn_prev,
.btn_scroll.btn_scroll_left {background:#151b27 url('../images/builder/ico_arw_prev.svg') 50% 50% no-repeat;}
.btn_paging.btn_next,
.btn_scroll.btn_scroll_right {background:#151b27 url('../images/builder/ico_arw_next.svg') 50% 50% no-repeat; transition:background-color 0.2s ease-out;}
.btn_paging.btn_next.active,
.btn_scroll.btn_scroll_right.active {background:#3340a8 url('../images/builder/ico_arw_next_w.svg') 50% 50% no-repeat;}

/* radio */
input[type="radio"] {display:none; width:1px; height:1px; margin:0 0 0 -1px; border:none; background:none; opacity:0;}
input[type="radio"] + label {color:#adafc1; font-size:14px; letter-spacing:-0.14px; line-height:32px; cursor:pointer;}
input[type="radio"] + label:before {content:''; display:inline-block; width:12px; height:12px; margin:0 12px 0 0; border:1px solid #2d333c; border-radius:50%; box-sizing:border-box; background:transparent;}
input[type="radio"]:checked + label:before {border:3px solid #1f242e; background:#4175ff;}

/* clipTarget */
#clipTarget {position:fixed; top:0; right:0; width:1px; height:1px; margin:-1px; opacity:0;}

/* contextMenu */
#contextMenu {display:none; overflow:hidden; position:absolute; border-radius:4px; background:rgba(3, 3, 3, 0.84);}
#contextMenu .menu_list li {padding:0 6px 0 22px; color:#fff; font-size:13px; letter-spacing:-0.13px; line-height:32px; white-space:nowrap; transition:all 0.3s ease-out; cursor:pointer;}
#contextMenu .menu_list li.draw_more {background:url('../images/builder/ico_pencil.svg') 6px 50% no-repeat;}
#contextMenu .menu_list li:hover {background-color:#3340a8; text-decoration:underline;}


/* -------------------- loading -------------------- */
@keyframes rotate_line {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@keyframes text_opacity {
    0% {opacity:1;}
    50% {opacity:0.5;}
    100% {opacity:0;}
}

#pageLoading {position:fixed; top:0; right:0; bottom:0; left:0; background:rgba(0, 0, 0, 0.82); z-index:10000;}
#pageLoading .loading_container,
#pageLoading .line {position:relative; width:180px; height:180px; border-radius:100%; box-sizing:border-box; transition:all 0.5s ease-in-out;}
#pageLoading .loading_container {top:50%; margin:0 auto; transform:translate(0, -50%);}
#pageLoading .line {border:3px solid transparent; border-color:transparent #fff transparent #fff; transform-origin:50% 50%; animation:rotate_line 1.5s linear 0s infinite normal;}
#pageLoading .text {position:absolute; top:0; width:180px; margin:80px 0 0; color:#fff; font-size:20px; font-weight:500; text-align:center; opacity:1; animation:text_opacity 1s linear 0.5s infinite alternate;}


/* -------------------- layer popup -------------------- */
/* common */
.lyrWrap {display:none; position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:9999;}
.lyr_bg {position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.65);}
.lyrCont {overflow:hidden; position:absolute; top:50%; left:50%; min-width:340px; border-radius:10px; background:#fff; transform:translate(-50%, -50%);}
.lyrCont .lyr_top {position:relative; padding:11px; background:#3340a8;}
.lyrCont .lyr_top .tit {color:#fff; font-size:16px; font-weight:500; line-height:24px; text-align:center;}
.lyrCont .lyr_top .btn_lyr_close {position:absolute; top:6px; right:6px; width:20px; height:20px; background:url('../images/builder/ico_close.svg') 50% 50% no-repeat;}
.lyrCont .lyr_top .btn_lyr_close span {display:block; overflow:hidden; text-indent:-9999px; white-space:nowrap;}
.lyrCont .lyr_mid {padding:20px 30px;}
.lyrCont .lyr_mid .alert_txt {color:#26282b; font-size:13px; letter-spacing:-0.13px; line-height:20px; text-align:center;}
.lyrCont .lyr_btm {padding:0 30px 20px; text-align:center;}
.lyrCont .lyr_btm button.btn_primary {width:138px; height:40px; margin:0 7px; border:1px solid #3340a8; border-radius:4px; box-sizing:border-box; background:#fff; color:#3340a8; font-size:13px; font-weight:500; transition:all 0.3s ease-out;}
.lyrCont .lyr_btm button.btn_primary:hover {background:#3340a8; color:#fff;}
.lyrCont .lyr_btm button.btn_confirm {width:100px;}
.lyrCont .lyr_btm button.btn_lyr_close {width:96px; border:none; background:#dddee0; color:#565e6a; font-weight:400;}
.lyrCont .lyr_btm button.btn_lyr_close:hover {background:#dddee0; color:#565e6a;}

.lyrToast {position:absolute; top:90px; right:-500px; padding:9px 10px 9px 20px; border-radius:4px; background:#3340a8; white-space:nowrap; transition:right 1s ease-out; z-index:1000;}
.lyrToast .msg {display:inline-block; margin:0 4px 0 0; color:#fff; font-size:16px; font-weight:500; letter-spacing:-0.16px; line-height:20px; vertical-align:top;}
.lyrToast .btn_toast_close {float:right; width:20px; height:20px; margin:0 0 0 20px; background:url('../images/builder/ico_close.svg') 50% 50% no-repeat;}
.lyrToast .btn_toast_close span {display:block; overflow:hidden; text-indent:-9999px; white-space:nowrap;}
.lyrToast.on {right:16px;}

/* 작업불가 */
#unableWork .lyrCont .lyr_mid .alert_txt {margin:0 0 20px;}
#unableWork .lyrCont .lyr_mid .ipt_txt {height:36px; padding:0 11px; border:1px solid #abaeb9; background:#edeff4; color:#26282b; font-size:12px; letter-spacing:-0.12px;}
#unableWork .lyrCont .lyr_mid .ipt_txt::placeholder {color:#7f848b; font-size:12px;}
#alert_unableWork .lyrCont .lyr_mid .alert_txt {margin:0 0 20px;}
#alert_unableWork .lyrCont .lyr_mid .ipt_txt {height:36px; padding:0 11px; border:1px solid #abaeb9; background:#edeff4; color:#26282b; font-size:12px; letter-spacing:-0.12px;}
#alert_unableWork .lyrCont .lyr_mid .ipt_txt::placeholder {color:#7f848b; font-size:12px;}


/* -------------------- header -------------------- */
#header .sta {display:flex; justify-content:space-between; align-items:center; position:relative; height:100%; padding:0 16px;}
#header .sta .btnBox {display:flex; align-items:center;}
#header .sta .btnBox .line {width:1px; height:28px; margin:0 -1px 0 0; border-left:1px solid #2d3136;}
#header .sta .btnBox button {display:inline-block; height:42px; margin:0 24px; padding:0 13px 0 40px; border-radius:6px; color:#adafc1; font-size:14px; line-height:42px;}
#header .sta .btnBox button.btn_move_list {margin:0 24px 0 0; padding:0 20px 0 40px; background:#262d3c url('../images/builder/arw_left_g.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_history {position:relative; padding:0 20px 0 40px; background:#262d3c url('../images/builder/ico_badge_g.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_history.reject {background:#262d3c url('../images/builder/ico_badge_r.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_temporary_save {position:relative; margin:0 22px; background:#262d3c url('../images/builder/ico_tprySave.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_unable_work {background:#262d3c url('../images/builder/ico_uabWork.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_work_complete {display:none; margin:0; padding:0 20px 0 40px; background:#3340a8 url('../images/builder/ico_workCplt.svg') 12px 50% no-repeat; font-weight:500;}
#header .sta .btnBox button.btn_work_complete.on {display:inline-block;}
#header .sta .btnBox button.btn_edit_complete {display:none; margin:0; padding:0 20px 0 40px; background:#3340a8 url('../images/builder/ico_edit.svg') 12px 50% no-repeat; font-weight:500;}
#header .sta .btnBox button.btn_edit_complete.on {display:inline-block;}
#header .sta .btnBox button.btn_reject {margin:0 24px 0 0; padding:0 25px 0 53px; background:#a83349 url('../images/builder/ico_reject.svg') 25px 50% no-repeat; font-weight:700;}
#header .sta .btnBox button.btn_approval {margin:0 0 0 24px; padding:0 25px 0 53px; background:#262d3c url('../images/builder/ico_approval.svg') 25px 50% no-repeat;}

#header .sta .btnBox .historyBox {display:none; overflow:hidden; position:absolute; top:73px; left:254px; padding:7px 0 0; z-index:1000;}
#header .sta .btnBox .historyBox:before {content:''; display:block; position:absolute; top:0; left:14px; width:12px; height:8px; background:url('../images/builder/ico_tipPoint_top.svg') 50% 50% no-repeat; z-index:1010;}
#header .sta .btnBox .historyBox.active {display:block;}
#header .sta .btnBox .historyBox .history_list {overflow:auto; min-width:202px; height:322px; border:1px solid #3b3d45; border-radius:6px; box-sizing:border-box; background:#20252e;}
#header .sta .btnBox .historyBox .history_list li.rejectFile a {background-image:url('../images/builder/ico_badge_r.svg'); background-position:5px 50%; background-repeat:no-repeat;}
#header .sta .btnBox .historyBox .history_list li a {display:block; height:32px; padding:0 23px 0 30px; box-sizing:border-box; color:#adafc1; font-size:14px; letter-spacing:-0.14px; line-height:30px; transition:all 0.3s ease-out;}
#header .sta .btnBox .historyBox .history_list li a:hover,
#header .sta .btnBox .historyBox .history_list li a.active {background-color:#2e3748;}

#header .sta .titBox {position:absolute; top:50%; left:50%; text-align:center; transform:translate(-50%, -50%);}
#header .sta .titBox .pjt_name {display:inline-block; overflow:hidden; max-width:300px; color:#fff; font-size:15px; font-weight:500; line-height:70px; text-align:center; white-space:nowrap; text-overflow:ellipsis;}
#header .sta .titBox .guideViewer {display:inline-block; position:absolute; top:50%; width:20px; height:20px; margin:0 0 0 16px; transform:translate(0, -50%); cursor:pointer;}
#header .sta .titBox .guideViewer em {color:#aaaeb2; font-size:20px; transition:all 0.3s ease-out; vertical-align:top;}
#header .sta .titBox .guideViewer:hover em {color:#3d4cc9;}
#header .sta .titBox .guideViewer .guideBox {display:none; position:absolute; top:30px; right:0; width:auto; min-width:300px; height:auto; min-height:250px; padding:16px; border-radius:6px; box-shadow:0 3px 6px 0 rgba(20, 21, 38, 0.69); box-sizing:border-box; background:#fff; z-index:1020;}
#header .sta .titBox .guideViewer .guideBox .guideDetail {text-align:left;}
#header .sta .titBox .guideViewer .guideBox .guideDetail dt {box-sizing:border-box; color:#26282b; font-size:14px; font-weight:700; letter-spacing:-0.14px;}
#header .sta .titBox .guideViewer .guideBox .guideDetail dd ul {margin:26px 0 0; box-sizing:border-box;}
#header .sta .titBox .guideViewer .guideBox .guideDetail dd ul li {color:#26282b; font-size:12px; letter-spacing:-0.12px; line-height:22px; word-break:keep-all;}
#header .sta .titBox .guideViewer .guideBox .guideDetail dd ul.decimal li {list-style:decimal; list-style-position:inside;}
#header .sta .titBox .guideViewer .guideBox .guideDetail dd ul.disc li {list-style:disc; list-style-position:inside;}
#header .sta .titBox .guideViewer:hover .guideBox {display:block;}

#header .sta .btnBox .btn_pjt_change {width:238px; margin:0; padding:0; background:#3340a8;}
#header .sta .btnBox .btn_prev_file {margin:0; background: #262d3c url('../images/builder/arw_left_g.svg') 12px 50% no-repeat;}
#header .sta .btnBox .btn_next_file {margin:0 0 0 24px; background: #262d3c url('../images/builder/arw_right_g.svg') 12px 50% no-repeat;}


/* -------------------- load_img_wrap -------------------- */
.load_img_wrap {display:table-cell; width:270px;}
.load_img_wrap .btnBox {padding:16px; background:#111315;}
.load_img_wrap .btnBox .uploadBox input[type="file"] {display:none;}
.load_img_wrap .btnBox .uploadBox input[type="file"] + label {display:block; width:100%; height:42px; border-radius:6px; background:#262d3c; color:#adafc1; font-size:14px; letter-spacing:-0.14px; line-height:40px; text-align:center; cursor:pointer;} 
.load_img_wrap .btnBox button {display:block; width:100%; height:42px; margin:16px 0 0; border-radius:6px; background:#262d3c; color:#adafc1; font-size:14px; letter-spacing:-0.14px;}
.load_img_wrap .btnBox button:disabled {background:#1c1e22; color:#4d4d4d;}
.load_img_wrap .load_img_list {overflow:auto; height:calc(100% - 182px); background:#20252e;}
.load_img_wrap .load_img_list li {display:flex; width:100%; padding:0 16px; box-sizing:border-box; color:#adafc1; font-size:13px; letter-spacing:-0.13px; line-height:48px; transition:background-color 0.3s ease-out; cursor:pointer;}
.load_img_wrap .load_img_list li:hover {background:#2e335f;}
.load_img_wrap .load_img_list li.active {background:#3340a8;}
.load_img_wrap .load_img_list li .fileName {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.load_img_wrap .load_img_list li .fileExt {flex-shrink:0;}
.load_img_wrap .img_index {height:50px; background:#060c17; color:#adafc1; font-size:14px; letter-spacing:-0.14px; line-height:50px; text-align:center;}
.load_img_wrap .img_index span {color:#adafc1; font-size:14px; letter-spacing:-0.14px;}


/* -------------------- toolMenuBar -------------------- */
/* worker */
.toolMenuBar .menu_list {display:flex; flex-direction:column; justify-content:center; position:relative;}
.toolMenuBar .menu_list > li {position:relative; width:100%; height:52px;}

.toolMenuBar .menu_list > li button {position:relative; width:100%; height:100%; transition:background-color 0.2s ease-out;}
.toolMenuBar .menu_list > li button.btn_bounding_box {background:url('../images/builder/ico_tool_bdBox.svg') 50% 50% no-repeat, url('../images/builder/ico_triangle_g.svg') 100% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_segmentation {background:url('../images/builder/ico_tool_segmt.svg') 50% 50% no-repeat, url('../images/builder/ico_triangle_g.svg') 100% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_keyPoint {background:url('../images/builder/ico_tool_keyPit.svg') 50% 50% no-repeat, url('../images/builder/ico_triangle_g.svg') 100% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_metaData {background:url('../images/builder/ico_tool_metaData.svg') 50% 50% no-repeat, url('../images/builder/ico_triangle_g.svg') 100% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_move_object {background:url('../images/builder/ico_tool_moveObj.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_zoomIn {background:url('../images/builder/ico_tool_zoomIn.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_zoomOut {background:url('../images/builder/ico_tool_zoomOut.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_reset {background:url('../images/builder/ico_tool_reset.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_undo {background:url('../images/builder/ico_tool_undo.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_redo {background:url('../images/builder/ico_tool_redo.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_add_textTag {background:url('../images/builder/ico_tool_textTag.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_areaTag {background:url('../images/builder/ico_tool_areaTag.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_metaTag {background:url('../images/builder/ico_tool_metaTag.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_tagCopy {background:url('../images/builder/ico_tool_tagCopy.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.active {background-color:#3340a8;}
.toolMenuBar .menu_list > li button.active.open:before {content:''; display:block; position:relative; top:10px; right:-57px; width:8px; height:12px; background:url('../images/builder/ico_tipPoint.svg') 100% 50% no-repeat; z-index:1010;}
.toolMenuBar .menu_list > li button.active:hover {background-color:#3340a8;}
.toolMenuBar .menu_list > li button:hover {background-color:#262d3c;}

.toolMenuBar .menu_list > li .classBox {display:none; position:absolute; top:6px; right:-176px; width:164px; border:1px solid #3b3d45; border-radius:6px; box-sizing:border-box; background:#20252e; z-index:1000; transition:all 0.2s ease-out;}
.toolMenuBar .menu_list > li .classBox.active {display:block;}
.toolMenuBar .menu_list > li .classBox .tit {padding:0 11px; border-bottom:1px solid #3b3d45; color:#adafc1; font-size:14px; line-height:39px;}
.toolMenuBar .menu_list > li .classBox .class_list {overflow:auto; width:100%; max-height:320px;}
.toolMenuBar .menu_list > li .classBox .class_list li input[type="radio"] + label {display:block; padding:0 12px; box-sizing:border-box; transition:all 0.3s ease-out;}
.toolMenuBar .menu_list > li .classBox .class_list li input[type="radio"] + label:hover,
.toolMenuBar .menu_list > li .classBox .class_list li input[type="radio"]:checked + label {background:#2e3748;}

/* inspactor */
.inspector .toolMenuBar .menu_list > li .classBox .class_list li input[type="radio"] + label {cursor:default;}
.inspector .toolMenuBar .menu_list > li .classBox .class_list li input[type="radio"] + label:before {display:none;}
.inspector .toolMenuBar .menu_list > li .classBox .class_list li input[type="radio"]:checked + label {background:transparent;}


/* -------------------- content -------------------- */
/* common */
.content {width:100%; height:100%;}
.content .work_space {width:100%; height:100%; box-sizing:border-box;}

/* worker - image */
.work_space .imgArea {overflow:hidden; width:100%; height:100%;}

.videoFrameArea {overflow:visible !important; position:absolute; bottom:-120px; left:0; width:100%; height:120px; background:#060c17; transition:bottom 0.3s ease-out;}
.videoFrameArea.on {bottom:0;}
.videoFrameArea .btn_expand {top:-24px; left:50%; transform:rotate(90deg) translate(-50%, 0);}
.videoFrameArea .frame_pagination {display:flex; justify-content:space-between; align-items:center; position:absolute; top:-42px; left:0; width:180px; height:42px; padding:5px 8px; border:1px solid #1e2229; border-radius:4px; box-sizing:border-box; background:#000;}
.videoFrameArea .frame_pagination .frameInfo {display:inline-block; color:#7f848b; font-size:15px; letter-spacing:-0.15px;}
.videoFrameArea .frame_pagination .frameInfo .currentNum {color:#cccdd0; font-weight:700;}
.videoFrameArea .frame_list_wrap {display:flex; align-items:center; width:100%; height:100%;}
.videoFrameArea .frame_list_wrap .btn_scroll {flex:none; margin:0 15px;}
.videoFrameArea .frame_list_wrap .frame_list {counter-reset:frame; display:flex; align-items:flex-end; overflow-x:auto; width:calc(100% - 124px); height:80px; padding:0 0 12px; box-sizing:border-box;}
.videoFrameArea .frame_list_wrap .frame_list li {flex:none; position:relative; width:82px; height:52px; margin:0 12px 0 0; box-sizing:border-box; cursor:pointer;}
.videoFrameArea .frame_list_wrap .frame_list li.active {margin:0 12px 10px 0; transition:margin 0.2s ease-out;}
.videoFrameArea .frame_list_wrap .frame_list li:before {content:counter(frame); counter-increment:frame; display:block; position:absolute; top:0; left:0; width:32px; height:32px; background:rgb(8, 16, 38, 0.86); color:#fff; font-size:14px; font-weight:700; letter-spacing:-0.15px; line-height:32px; text-align:center;}
.videoFrameArea .frame_list_wrap .frame_list li.active:before {top:4px; left:4px;}
.videoFrameArea .frame_list_wrap .frame_list li.reject:before {background:rgb(209, 8, 70, 0.86);}
.videoFrameArea .frame_list_wrap .frame_list li:last-child {margin:0;}
.videoFrameArea .frame_list_wrap .frame_list li:last-child.active {margin:0 0 10px;}
.videoFrameArea .frame_list_wrap .frame_list li .frameBox {width:100%; height:100%; box-sizing:border-box;}
.videoFrameArea .frame_list_wrap .frame_list li .frameBox img {width:100%; height:100%; object-fit:cover; object-position:center;}
.videoFrameArea .frame_list_wrap .frame_list li.active .frameBox {border:4px solid #3340a8;}

/* worker - video */
#scriptPop {width:100%; min-width:350px; height:100%;}
#scriptPop .script_box {flex:none; height:100%; padding:20px 16px; box-sizing:border-box; background:#151b27;}
#scriptPop .script_box .srch_box {position:relative; width:100%; height:42px; margin:0 0 20px; padding:6px 12px; border:1px solid #3b3d45; border-radius:4px; box-sizing:border-box; background:#232831;}
#scriptPop .script_box .srch_box .ipt_txt {position:absolute; top:0; left:0; width:100%; height:100%; padding:0 165px 0 12px; border:none; box-sizing:border-box;}
#scriptPop .script_box .srch_box .srch_txt_paging {display:flex; align-items:center; position:absolute; top:9px; right:44px;}
#scriptPop .script_box .srch_box .srch_txt_paging .index {margin:0 8px; color:#aaaeb2; font-size:14px;}
#scriptPop .script_box .srch_box .srch_txt_paging .btnBox {display:flex; padding:0 0 0 8px; border-left:1px solid #3b3d45;}
#scriptPop .script_box .srch_box .srch_txt_paging .btnBox a.btn_txt_prev {width:24px; height:24px; background:url('../images/builder/ico_arw_up.svg') 50% 50% no-repeat;}
#scriptPop .script_box .srch_box .srch_txt_paging .btnBox a.btn_txt_next {width:24px; height:24px; margin:0 8px; background:url('../images/builder/ico_arw_down.svg') 50% 50% no-repeat;}
#scriptPop .script_box .srch_box button.btn_srch {position:absolute; top:9px; right:12px; width:24px; height:24px; background:url('../images/builder/ico_srch.svg') 50% 50% no-repeat;}
#scriptPop .script_box .scrt_txt {overflow:auto; position:relative; height:calc(100% - 62px); padding:16px; border:1px solid #3b3d45; border-radius:4px; box-sizing:border-box; background:#232831; color:#adafc1; font-size:16px; letter-spacing:-0.16px; line-height:24px; word-wrap:break-word; white-space:pre-line;}
#scriptPop .script_box .scrt_txt .findElement {background:#2a416f;}
#scriptPop .script_box .scrt_txt .findElement.selected {background:#a83349;}

.edit_video .work_space {height:calc(100vh - 72px);}

.videoArea {height:100%; padding:50px; box-sizing:border-box;}
.videoArea .videoBox {display:flex; justify-content:center; align-items:center; height:calc(100% - 80px); background:#1d1e21;}
.videoArea .videoBox video {display:block; width:100%; height:100%; object-fit:contain;}
.videoArea .controlBox {width:100%; height:80px; padding:20px 34px 0; box-sizing:border-box; background:#141519;} 
.videoArea .controlBox .player .player_bar {position:relative; width:100%; height:3px; background:#3e3e3e; cursor:pointer;}
.videoArea .controlBox .player .player_bar .buffer_bar {position:absolute; top:0; left:0; width:0; height:100%; background:#878889;}
.videoArea .controlBox .player .player_bar .slider_bar {position:absolute; top:0; left:0; width:0; height:100%; background:#3d4cbf;}
.videoArea .controlBox .player .player_bar .slider_bar:before {content:''; display:block; position:absolute; top:-5px; right:-5px; width:13px; height:13px; border-radius:50%; background:#3d4cbf;}
.videoArea .controlBox .player .player_control {display:flex; justify-content:flex-start; position:relative; margin:9px 0 0;}
.videoArea .controlBox .player .player_control .btnBox {display:flex;}
.videoArea .controlBox .player .player_control button {position:relative; width:40px; height:40px; margin:0 5px; transition:all 0.3s ease-out;}
.videoArea .controlBox .player .player_control button.btn_play {margin:0 5px 0 0; background:url('../images/builder/ico_play.svg') 50% 50% no-repeat;}
.videoArea .controlBox .player .player_control button.btn_play.pause {background:url('../images/builder/ico_pause.svg') 50% 50% no-repeat;}
.videoArea .controlBox .player .player_control button.btn_rewind {background:url('../images/builder/ico_rewind.svg') 50% 50% no-repeat;}
.videoArea .controlBox .player .player_control button.btn_fastFoward {background:url('../images/builder/ico_fastFoward.svg') 50% 50% no-repeat;}
.videoArea .controlBox .player .player_control button.btn_volume {background:url('../images/builder/ico_volume.svg') 50% 50% no-repeat;}
.videoArea .controlBox .player .player_control button.btn_volume.down {background:url('../images/builder/ico_volume_down.svg') 50% 50% no-repeat;}
.videoArea .controlBox .player .player_control button.btn_volume.mute {background:url('../images/builder/ico_mute.svg') 50% 50% no-repeat;}
.videoArea .controlBox .player .player_control button.btn_speed {background:url('../images/builder/ico_speed.svg') 50% 50% no-repeat;}
.videoArea .controlBox .player .player_control button.btn_repeat {margin:0 0 0 5px; background:url('../images/builder/ico_repeat.svg') 50% 50% no-repeat;}
.videoArea .controlBox .player .player_control button.btn_repeat.on {background:url('../images/builder/ico_repeat_b.svg') 50% 50% no-repeat;}
.videoArea .controlBox .player .player_control button .tooltip {display:none; position:absolute; top:-74px; left:50%; padding:6px 12px; border-radius:4px; box-sizing:border-box; background:rgb(3, 3, 3, 0.84); color:#fff; font-size:13px; letter-spacing:-0.13px; white-space:nowrap; transform:translate(-50%, 0);}
.videoArea .controlBox .player .player_control button:hover .tooltip {display:block;}
.videoArea .controlBox .player .player_control .player_volume {display:flex; align-items:center;}
.videoArea .controlBox .player .player_control .player_volume .volume_bar {position:relative; width:124px; height:3px; margin:0 10px 0 5px; background:#949596; cursor:pointer;}
.videoArea .controlBox .player .player_control .player_volume .volume_bar .slider_bar {position:absolute; top:0; left:0; width:0; height:100%; background:#fff;}
.videoArea .controlBox .player .player_control .player_volume .volume_bar .slider_bar:before {content:''; display:block; position:absolute; top:-3px; right:-3px; width:9px; height:9px; border-radius:50%; background:#fff;}
.videoArea .controlBox .player .player_control .player_time {display:flex; align-items:center;}
.videoArea .controlBox .player .player_control .player_time span {padding:0 10px; color:#fff; font-size:13px; letter-spacing:-0.13px;}
.videoArea .controlBox .player .player_control .player_time .current {border-right:1px solid #626467;}
.videoArea .controlBox .player .player_control .btnBox:last-child {margin-left:auto;}
.videoArea .controlBox .player .player_control .speedSet {display:none; position:absolute; right:0; bottom:102px; width:196px; background:rgba(0, 0, 0, 0.84);}
.videoArea .controlBox .player .player_control .speedSet.on {display:block;}
.videoArea .controlBox .player .player_control .speedSet .tit {padding:0 30px; border-bottom:1px solid #4f5056; box-sizing:border-box; color:#fff; font-size:13px; letter-spacing:-0.13px; line-height:39px;}
.videoArea .controlBox .player .player_control .speedSet .speed_list li {padding:0 30px; box-sizing:border-box; color:#fff; font-size:13px; letter-spacing:-0.13px; line-height:30px; transition:background-color 0.3s ease-out; cursor:pointer;}
.videoArea .controlBox .player .player_control .speedSet .speed_list li:hover {background:rgba(255, 255, 255, 0.17);}
.videoArea .controlBox .player .player_control .speedSet .speed_list li.active {background:rgba(255, 255, 255, 0.17) url('../images/builder/ico_chk_w.svg') 4px 50% no-repeat;}

/* worker - audio */
.audioArea {height:100%; padding:200px 50px 0; box-sizing:border-box;}
.audioArea .waveBox {display:flex; justify-content:center; align-items:center; height:120px; background:#fff;}
.audioArea .waveBox video {display:block; width:100%; height:100%; object-fit:contain;}
.audioArea .controlBox {position:relative; width:100%; height:80px; padding:20px 34px 0; box-sizing:border-box; background:#141519;} 
.audioArea .controlBox .player .player_bar {position:absolute; top:6px; left:4px; width:calc(100% - 8px); height:10px; background:#3e3e3e; cursor:pointer;}
.audioArea .controlBox .player .player_bar .slider_bar {position:absolute; top:0; left:0; width:0; height:100%; background:#3d4cbf;}
.audioArea .controlBox .player .player_control {display:flex; justify-content:flex-start; position:relative; margin:9px 0 0;}
.audioArea .controlBox .player .player_control .btnBox {display:flex;}
.audioArea .controlBox .player .player_control button {position:relative; width:40px; height:40px; margin:0 5px; transition:all 0.3s ease-out;}
.audioArea .controlBox .player .player_control button.btn_play {margin:0 5px 0 0; background:url('../images/builder/ico_play.svg') 50% 50% no-repeat;}
.audioArea .controlBox .player .player_control button.btn_play.pause {background:url('../images/builder/ico_pause.svg') 50% 50% no-repeat;}
.audioArea .controlBox .player .player_control button.btn_rewind {background:url('../images/builder/ico_rewind.svg') 50% 50% no-repeat;}
.audioArea .controlBox .player .player_control button.btn_fastFoward {background:url('../images/builder/ico_fastFoward.svg') 50% 50% no-repeat;}
.audioArea .controlBox .player .player_control button.btn_volume {background:url('../images/builder/ico_volume.svg') 50% 50% no-repeat;}
.audioArea .controlBox .player .player_control button.btn_volume.down {background:url('../images/builder/ico_volume_down.svg') 50% 50% no-repeat;}
.audioArea .controlBox .player .player_control button.btn_volume.mute {background:url('../images/builder/ico_mute.svg') 50% 50% no-repeat;}
.audioArea .controlBox .player .player_control button.btn_speed {background:url('../images/builder/ico_speed.svg') 50% 50% no-repeat;}
.audioArea .controlBox .player .player_control button.btn_repeat {margin:0 0 0 5px; background:url('../images/builder/ico_repeat.svg') 50% 50% no-repeat;}
.audioArea .controlBox .player .player_control button.btn_repeat.on {background:url('../images/builder/ico_repeat_b.svg') 50% 50% no-repeat;}
.audioArea .controlBox .player .player_control button .tooltip {display:none; position:absolute; top:-74px; left:50%; padding:6px 12px; border-radius:4px; box-sizing:border-box; background:rgb(3, 3, 3, 0.84); color:#fff; font-size:13px; letter-spacing:-0.13px; white-space:nowrap; transform:translate(-50%, 0);}
.audioArea .controlBox .player .player_control button:hover .tooltip {display:block;}
.audioArea .controlBox .player .player_control .player_volume {display:flex; align-items:center;}
.audioArea .controlBox .player .player_control .player_volume .volume_bar {position:relative; width:124px; height:3px; margin:0 10px 0 5px; background:#949596; cursor:pointer;}
.audioArea .controlBox .player .player_control .player_volume .volume_bar .slider_bar {position:absolute; top:0; left:0; width:0; height:100%; background:#fff;}
.audioArea .controlBox .player .player_control .player_volume .volume_bar .slider_bar:before {content:''; display:block; position:absolute; top:-3px; right:-3px; width:9px; height:9px; border-radius:50%; background:#fff;}
.audioArea .controlBox .player .player_control .player_time {display:flex; align-items:center;}
.audioArea .controlBox .player .player_control .player_time span {padding:0 10px; color:#fff; font-size:13px; letter-spacing:-0.13px;}
.audioArea .controlBox .player .player_control .player_time .current {border-right:1px solid #626467;}
.audioArea .controlBox .player .player_control .btnBox:last-child {margin-left:auto;}
.audioArea .controlBox .player .player_control .speedSet {display:none; position:absolute; right:0; bottom:102px; width:196px; background:rgba(0, 0, 0, 0.84);}
.audioArea .controlBox .player .player_control .speedSet.on {display:block;}
.audioArea .controlBox .player .player_control .speedSet .tit {padding:0 30px; border-bottom:1px solid #4f5056; box-sizing:border-box; color:#fff; font-size:13px; letter-spacing:-0.13px; line-height:39px;}
.audioArea .controlBox .player .player_control .speedSet .speed_list li {padding:0 30px; box-sizing:border-box; color:#fff; font-size:13px; letter-spacing:-0.13px; line-height:30px; transition:background-color 0.3s ease-out; cursor:pointer;}
.audioArea .controlBox .player .player_control .speedSet .speed_list li:hover {background:rgba(255, 255, 255, 0.17);}
.audioArea .controlBox .player .player_control .speedSet .speed_list li.active {background:rgba(255, 255, 255, 0.17) url('../images/builder/ico_chk_w.svg') 4px 50% no-repeat;}


/* -------------------- aside -------------------- */
/* common */
.aside {display:flex; flex-direction:column; position:absolute; top:0; right:-336px; width:336px; height:100%; background:#151b27; transition:right 0.3s ease-out;}
.aside.on {right:0 !important;}
.aside .btn_expand {bottom:150px; left:-24px;}

.aside .currentFile {display:flex; justify-content:space-between; align-items:center; height:50px; padding:0 16px; border-bottom:1px solid #060c17; box-sizing:border-box; color:#adafc1; font-size:13px; letter-spacing:-0.13px; line-height:48px;}
.aside .currentFile .fileName {display:inline-block; overflow:hidden; width:calc(100% - 80px); color:#adafc1; font-size:13px; letter-spacing:-0.13px; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}
.aside .currentFile .btn_clipboard {width:24px; height:24px; margin:0 0 0 10px; background:url('../images/builder/ico_clipboard.svg') 50% 50% no-repeat;}

.aside .guideFile {display:flex; align-items:center; height:50px; padding:0 16px; border-bottom:1px solid #060c17; box-sizing:border-box; color:#adafc1; font-size:13px; letter-spacing:-0.13px; line-height:48px;}
.aside .guideFile .fileName {display:inline-block; overflow:hidden; width:calc(100% - 35px); color:#adafc1; font-size:13px; letter-spacing:-0.13px; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}
.aside .guideFile .btn_guide_download {width:24px; height:24px; margin:0 0 0 10px; background:url('../images/builder/ico_download.svg') 50% 50% no-repeat;}

.aside .comments {border-bottom:2px solid #16212e;}
.aside .comments .tit {height:50px; padding:0 16px; box-sizing:border-box; background:#2a354a url('../images/builder/ico_caret_down_g.svg') top 50% right 16px no-repeat; color:#adafc1; font-size:13px; letter-spacing:-0.13px; line-height:48px; cursor:pointer;}
.aside .comments .cmt_box {display:none; padding:20px; box-sizing:border-box;}
.aside .comments .cmt_box .textarea {width:100%; height:66px; padding:12px; border:1px solid #3b3d45; border-radius:10px; box-sizing:border-box; background:#232831; color:#adafc1; font-size:14px; letter-spacing:-0.14px; line-height:22px;}
.aside .comments .cmt_box.open {display:block;}

.aside .tabWrap {width:100%; height:calc(100% - 202px);}
.aside .tabWrap .tab_btn {display:flex; height:50px; border-bottom:2px solid #16212e; box-sizing:border-box; background:#060c17;}
.aside .tabWrap .tab_btn button {width:50px; height:50px; transition:background-color 0.2s ease-out;}
.aside .tabWrap .tab_btn button.btn_tag {background:url('../images/builder/ico_list.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_btn button.btn_reject {background:url('../images/builder/ico_notice.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_btn button.btn_tag.active { background:#151b27 url('../images/builder/ico_list_active.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_btn button.btn_reject.active {background:#151b27 url('../images/builder/ico_notice_active.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_cont {width:100%; height:calc(100% - 50px);}
.aside .tabWrap .tab_cont > ul {display:none; overflow:auto !important; position:relative; width:100%; height:100%;}
.aside .tabWrap .tab_cont > ul li .tagBox {display:flex; align-items:center; height:64px; padding:0 16px; box-sizing:border-box; transition:background-color 0.3s ease-out;}
.aside .tabWrap .tab_cont > ul li .tagBox .tagPoint {display:inline-block; flex:none; width:8px; height:8px; margin:0 16px 0 0; border-radius:50%; background:#00ffa7;}
.aside .tabWrap .tab_cont > ul li .tagBox .tagPoint.hidden {background:none;}
.aside .tabWrap .tab_cont > ul li .tagBox .tagNum {display:inline-block; flex:none; width:20px; margin:0 12px 0 0; color:#adafc1; font-size:14px; letter-spacing:-0.14px;}
.aside .tabWrap .tab_cont > ul li .tagBox .select {width:60%; max-width:180px; min-width:134px; height:32px; margin:0 12px 0 0; padding:0 24px 0 12px; border:1px solid #3b3d45; border-radius:4px; box-sizing:border-box; background:#232831 url('../images/builder/ico_caret_down_g.svg') top 50% right 4px no-repeat; color:#adafc1; font-size:13px; letter-spacing:-0.13px; text-overflow:ellipsis;}
.aside .tabWrap .tab_cont > ul li .tagBox .select:disabled {pointer-events:none;}
.aside .tabWrap .tab_cont > ul li .tagBox .select.unselected {border-color:#777b81;}
.aside .tabWrap .tab_cont > ul li .tagBox .select.error {border-color:#a83349;}
.aside .tabWrap .tab_cont > ul li .tagBox button {flex:none; width:24px; height:24px; margin:0 2px; border-radius:4px;}
.aside .tabWrap .tab_cont > ul li .tagBox button.btn_bounding_box {background:#151b27 url('../images/builder/ico_tool_bdBox_sm.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_cont > ul li .tagBox button.btn_bounding_box.active {background:#151b27 url('../images/builder/ico_tool_bdBox_sm_atv.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_cont > ul li .tagBox button.btn_segmentation {background:#151b27 url('../images/builder/ico_tool_segmt_sm.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_cont > ul li .tagBox button.btn_segmentation.active {background:#151b27 url('../images/builder/ico_tool_segmt_sm_atv.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_cont > ul li .tagBox button.btn_keyPoint {background:#151b27 url('../images/builder/ico_tool_keyPit_sm.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_cont > ul li .tagBox button.btn_keyPoint.active {background:#151b27 url('../images/builder/ico_tool_keyPit_sm_atv.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_cont > ul li .tagBox button.btn_add_comment {width:20px; height:20px; background:url('../images/builder/ico_addCmt.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_cont > ul li.reject .tagBox {background:url('../images/builder/ico_dropDown.svg') bottom 0 left 0 no-repeat;}
.aside .tabWrap .tab_cont > ul li.active .tagBox {background:#3340a8;}
.aside .tabWrap .tab_cont > ul li.reject.active .tagBox {background:#3340a8 url('../images/builder/ico_dropDown.svg') bottom 0 left 0 no-repeat;}
.aside .tabWrap .tab_cont > ul li .reject_txt {display:none; padding:20px; box-sizing:border-box; background:#232831; color:#adafc1; font-size:14px; letter-spacing:-0.14px; line-height:21px;}
.aside .tabWrap .tab_cont > ul.reject_list li:not(.reject) {display:none;}

.aside .deleteBox {display:flex; align-items:center; justify-content:space-between; height:50px; padding:0 24px; box-sizing:border-box; background:#060c17;}
.aside .deleteBox .btn_select_delete {width:24px; height:24px; background:url('../images/builder/ico_dlt_slt.svg') 50% 50% no-repeat;}
.aside .deleteBox .btn_all_delete {height:38px; margin:6px 0; padding:0 12px 0 34px; border-radius:6px; background:#262d3c url('../images/builder/ico_dlt_all.svg') top 50% left 6px no-repeat; color:#adafc1; font-size:14px; letter-spacing:-0.14px;}

.aside .tabWrap .tab_cont > ul li .tagBox .ipt_txt.contenteditable {min-height:42px; padding:10px 12px; box-sizing:border-box; line-height:20px; outline:none;}
.aside .tabWrap .tab_cont > ul li .tagBox .ipt_txt.contenteditable[placeholder]:empty:before {content:attr(placeholder); color:#6f7077; font-size:14px;}
.aside .tabWrap .tab_cont > ul li .tagBox .ipt_txt.contenteditable.disabled {pointer-events:none;}

.aside .tabWrap .tab_cont > ul li .tagBox .time_stamp button {width:22px; height:22px; margin:0;}
.aside .tabWrap .tab_cont > ul li .tagBox .time_stamp button.btn_stamp_play {background:url('../../assets_renewal/images/builder/ico_play_line_w.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_cont > ul li .tagBox .time_stamp button.btn_stamp_play.pause {background:url('../../assets_renewal/images/builder/ico_pause_line_w.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_cont > ul li .tagBox .time_stamp .time_info {display:inline-block; margin:0 8px; color:#adafc1; font-size:12px; font-weight:500; line-height:1.5;}
.aside .tabWrap .tab_cont > ul li .tagBox .time_stamp .select {min-width:auto; width:95px;}

.aside .script {height:calc(100% - 496px);}
.aside .script .tit {flex:none; position:relative; height:50px; padding:0 16px; box-sizing:border-box; background:#2a354a url('../images/builder/ico_caret_down_g.svg') top 50% right 16px no-repeat; color:#adafc1; font-size:13px; letter-spacing:-0.13px; line-height:48px; cursor:pointer;}
.aside .script .tit .btn_window_open {position:absolute; top:50%; right:60px; width:24px; height:24px; background:url('../images/builder/ico_newPage.svg') 50% 50% no-repeat; transform:translate(0, -50%);}
.aside .script .script_box {flex:none; height:calc(100% - 50px); padding:20px 16px 16px; box-sizing:border-box;}
.aside .script .script_box .srch_box {position:relative; width:100%; height:42px; margin:0 0 20px; padding:6px 12px; border:1px solid #3b3d45; border-radius:4px; box-sizing:border-box; background:#232831;}
.aside .script .script_box .srch_box .ipt_txt {position:absolute; top:0; left:0; width:100%; height:100%; padding:0 165px 0 12px; border:none; box-sizing:border-box;}
.aside .script .script_box .srch_box .srch_txt_paging {display:flex; align-items:center; position:absolute; top:9px; right:44px;}
.aside .script .script_box .srch_box .srch_txt_paging .index {margin:0 8px; color:#aaaeb2; font-size:14px;}
.aside .script .script_box .srch_box .srch_txt_paging .btnBox {display:flex; padding:0 0 0 8px; border-left:1px solid #3b3d45;}
.aside .script .script_box .srch_box .srch_txt_paging .btnBox a.btn_txt_prev {width:24px; height:24px; background:url('../images/builder/ico_arw_up.svg') 50% 50% no-repeat;}
.aside .script .script_box .srch_box .srch_txt_paging .btnBox a.btn_txt_next {width:24px; height:24px; margin:0 8px; background:url('../images/builder/ico_arw_down.svg') 50% 50% no-repeat;}
.aside .script .script_box .srch_box button.btn_srch {position:absolute; top:9px; right:12px; width:24px; height:24px; background:url('../images/builder/ico_srch.svg') 50% 50% no-repeat;}
.aside .script .script_box .scrt_txt {overflow:auto; position:relative; height:calc(100% - 62px); padding:16px; border:1px solid #3b3d45; border-radius:4px; box-sizing:border-box; background:#232831; color:#adafc1; font-size:16px; letter-spacing:-0.16px; line-height:24px; word-wrap:break-word; white-space:pre-line;}
.aside .script .script_box .scrt_txt .findElement {background:#2a416f;}
.aside .script .script_box .scrt_txt .findElement.selected {background:#a83349;}

/* worker - video */
.edit_video .aside {right:-422px; width:422px;}
.edit_video .aside .tabWrap {height:auto;}
.edit_video .aside .tabWrap .tab_cont > ul {height:246px;}
.edit_video .aside .tabWrap .tab_cont > ul li .tagBox {height:auto; min-height:82px; padding:20px 16px;}

/* worker - audio */
.edit_audio .aside {right:-422px; width:422px;}
.edit_audio .aside .tabWrap {height:auto;}
.edit_audio .aside .tabWrap .tab_cont > ul {height:246px;}
.edit_audio .aside .tabWrap .tab_cont > ul li .tagBox {display:block; height:auto; min-height:62px; padding:15px 16px;}
.edit_audio .aside .tabWrap .tab_cont > ul li .tagBox .speech_sentence {display:flex; align-items:center;}
.edit_audio .aside .tabWrap .tab_cont > ul li .tagBox .time_stamp .tagNum {margin:0;}
.edit_audio .aside .tabWrap .tab_cont > ul li .tagBox .speech_sentence + .time_stamp {padding:10px 0 0 56px;}

/* inspactor - image */
.inspector .aside .comments .cmt_box .textarea {height:135px;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox {display:none; padding:16px 20px 20px; border-bottom:1px solid #303740;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .iptBox {position:relative; width:100%; height:42px;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .iptBox .ipt_txt {height:100%; padding:0 40px 0 12px;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .iptBox .btn_send {position:absolute; top:10px; right:10px; width:20px; height:20px; margin:0 0 0 20px; background:url('../images/builder/ico_send.svg') 50% 50% no-repeat;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .cmt_list li {position:relative; margin:16px 0; padding:0 20px;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .cmt_list li:last-child {margin:16px 0 0;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .cmt_list li .cmt_txt {padding:0 18px 0 8px; color:#adafc1; font-size:14px; letter-spacing:-0.14px; line-height:21px; word-break:keep-all;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .cmt_list li .btn_check {position:absolute; top:1px; left:0; width:20px; height:20px; background:url('../images/builder/ico_chk_normal.svg') 50% 50% no-repeat; z-index:10;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .cmt_list li .btn_delete {display:inline-block; position:absolute; top:1px; right:0; width:20px; height:20px; background:url('../images/builder/ico_delete.svg') 50% 50% no-repeat;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .cmt_list li.checked .cmt_txt {color:#5d5e60;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .cmt_list li.checked .btn_check {background:url('../images/builder/ico_chk_active.svg') 50% 50% no-repeat;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .cmt_list li.checked .btn_delete {display:none;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .cmt_list.unprocessed {padding:0 0 16px; border-bottom:1px solid #303740;}
.inspector .aside .tabWrap .tab_cont > ul li .editCommentBox .cmt_list.unprocessed.empty {padding:0; border-bottom:none;}

/* inspactor - video */
.inspector .edit_video .aside .tabWrap .tab_cont > ul li .tagBox .ipt_txt {margin:0 16px 0 0;}

/* inspactor - audio */
.inspector .edit_audio .aside .tabWrap .tab_cont > ul li .tagBox .ipt_txt {margin:0 16px 0 0;}

/* data verify */
.data_verify_main {width:100%; height:100%; padding:15vh 0 0; box-sizing:border-box; background:#eeeff1; text-align:center;}
.data_verify_main .tit {color:#26282b; font-size:42px; font-weight:500; letter-spacing:-0.42px; line-height:46px;}
.data_verify_main .desc {margin:24px 0 50px; color:#26282b; font-size:20px; letter-spacing:-0.2px; line-height:1;}
.data_verify_main .btnBox {overflow:hidden; width:840px; margin:0 auto;}
.data_verify_main .btnBox > div {position:relative;}
.data_verify_main .btnBox button {width:300px; height:300px; margin:0 60px; border-radius:50px; box-shadow:0 3px 10px 0 rgba(7, 24, 78, 0.16); background:#fff; color:#26282b; font-size:36px; font-weight:500; letter-spacing:-0.36px; transition:background-color 0.3s ease-out;}
.data_verify_main .btnBox button:hover {background:#1054b2; color:#fff;}
.data_verify_main .btnBox .fr:before {content:''; display:block; position:absolute; top:62px; left:0; width:1px; height:176px; border-left:1px solid #cccccc;}
.data_verify_main .btnBox small {display:block; margin:20px 0 0; color:#26282b; font-size:16px; letter-spacing:-0.16px; line-height:18px;}
.data_verify .aside {right:-320px; width:320px;}
.data_verify .aside .tabWrap {height:calc(50% - 25px);}
.data_verify .aside .tabWrap .tab_cont {height:calc(100% - 100px);}
.data_verify .aside .tabWrap .tab_cont > ul {height:100% !important;}
.data_verify .aside .tit {height:50px; padding:0 16px; box-sizing:border-box; background:#2a354a; color:#adafc1; font-size:13px; line-height:50px;}
.data_verify .aside .metaData {height:calc(50% - 25px);}
.data_verify .aside .metaData .tblBox {height:calc(100% - 50px); padding:16px; box-sizing:border-box; background:#151b27;}
.data_verify .aside .metaData .tblBox .tbl_meta_data {overflow:auto; height:100%; padding:0 10px; border:1px solid #3b3d45; border-radius:4px; box-sizing:border-box; background:#232831;}
.data_verify .aside .metaData .tblBox .tbl_meta_data table {width:100%;}
.data_verify .aside .metaData .tblBox .tbl_meta_data table tbody th {height:40px; padding:10px 0; border-right:1px solid #3b3d45; border-bottom:1px solid #3b3d45; box-sizing:border-box; color:#adafc1; font-size:13px; letter-spacing:-0.13px; line-height:19px;; text-align:left; vertical-align:top;}
.data_verify .aside .metaData .tblBox .tbl_meta_data table tbody td {height:40px; padding:10px 10px; border-bottom:1px solid #3b3d45; box-sizing:border-box; color:#adafc1; font-size:13px; letter-spacing:-0.13px; line-height:19px; text-align:left; word-break:keep-all; vertical-align:top;}
.data_verify .aside .tabWrap .tab_cont > ul li .tagBox .select {width:64%;}